{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "derailed/k9s"
tap "homebrew/bundle"
tap "homebrew/services"
brew "xz"
brew "argocd"
brew "automake"
brew "bash"
brew "chezmoi"
brew "libidn2"
brew "gnutls"
brew "lima"
brew "colima"
brew "coreutils"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "fish"
brew "git-lfs"
brew "glab"
brew "gnu-sed"
brew "gnu-tar"
brew "gnupg"
brew "go"
brew "helm"
brew "helmfile"
brew "htop"
brew "imagemagick"
brew "jq"
brew "jsonnet"
brew "kubernetes-cli"
brew "libyaml"
brew "minikube"
brew "minio"
brew "minio-mc"
brew "mtr"
brew "mutt"
brew "nano"
brew "ncdu"
brew "nmap"
brew "openssl@3"
brew "pwgen"
brew "pyenv"
brew "pyenv-virtualenv"
brew "speedtest-cli"
brew "tfenv"
brew "tmux"
brew "tree"
brew "vault"
brew "w3m"
brew "wget"
brew "yq"
brew "zlib"
brew "zsh"
cask "1password"
brew "derailed/k9s/k9s"
cask "alfred"
cask "1password-cli"
cask "google-cloud-sdk"
cask "firefox"
cask "slack"
cask "visual-studio-code"
{{- if eq .purpose "personal" }}
tap "timescale/tap"
brew "just"
brew "dnscontrol"
brew "borgbackup"
brew "b2-tools"
cask "steam"
cask "origin"
cask "discord"
cask "element"
cask "nextcloud"
{{- end }}
EOF
{{- end }}
